// Variables

$color-one: #222222;
$color-two: #FED136;
$color-three: #777777;
$color-four: #ffffff;
$color-five: #F7F7F7;

$font-one: droid-serif, serif;
$font-two: montserrat, sans-serif;
$font-three: roboto-slab, serif;

// Global

body {
    font-size: 16px;
    color: $color-one;
    margin: 0;
}

h1 {
    font-family: $font-two;
    font-weight: bold;
    font-size: 40px;
}

h2 {
    font-family: $font-one;
    font-size: 16px;
    font-style: italic;
    margin-bottom: 80px;
    font-weight: 100;
}

h3 {
    font-family: $font-two;
    font-weight: bold;
    font-size: 18px;
}

p {
    font-family: $font-three;
    color: $color-three;
    font-size: 14px;
    font-style: italic;
}

section {
    padding: 80px 0;
    text-align: center;
}

// Hero

.hero {
    height: 100vh;
    
    .background, .hero-content {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    
    .background {
        background: url('https://images.pexels.com/photos/848618/pexels-photo-848618.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
        background-size: cover;
        filter: grayscale(.8);
		z-index: 1;
    }

    .hero-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 2;

        h1 {
            font-size: 75px;
            color: $color-four;
        }

        h2 {
            font-size: 40px;
            color: $color-four;
            margin: 0;
        }
        
        .hero-btn {
            padding: 20px 80px;
            font-weight: 18px;
            font-family: $font-two;
            font-weight: bold;
            color: $color-two;
            border: 1px solid $color-two;
            background: transparent;
            transition: 0.3s ease;
            position: relative;
            overflow: hidden;
            z-index: 1;
            
            &:before {
                content: "";
			    height: 100%;
			    width: 100%;
			    background: $color-two;
			    position: absolute;
			    top: 0;
			    left: -100%;
			    transition: 0.3s ease;
			    z-index: -1;
            }

            &:hover {
                color: $color-four;
                
                &:before {
                    left: 0;
                }
            }
        }
    }
}

// Nav

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 40px 0;
    .container {
        display: flex;
    }
}

.nav-left {
    display: flex;
    align-items: center;
    flex: 1;
    
    h2 {
        margin: 0;
        font-size: 22px;
        color: $color-two;
    }
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 2;
    overflow: hidden;
    
    ul {
        padding: 0;
        margin: 0;
    
        li {
            list-style: none;
            display: inline-block;
    
            a {
                text-decoration: none; 
                color: $color-four;
                padding: 10px 15px;
                font-family: $font-two;
                font-size: 14px;
                background-image: linear-gradient(120deg, $color-two 0%, #FEDE72 100%);
                background-repeat: no-repeat;
                background-size: 100% 0.2em;
                background-position: 0 88%;
                transition: background-size 0.25s ease-in;
                    &:hover {
                    background-size: 100% 88%;
                    }    
            } 
        }
    }
}

// Services

.services-section {
    text-align: center;
    
    h1 {
        margin-bottom: 0;
    }

    h2 {
        margin-bottom: 100px;
    }

    i {
        color: $color-two;
        font-size: 38px;
        border-radius: 50%; 
        border: 3px solid $color-two;
        padding: 10px;
    }

}

// Shop

.shop-section {
    background-color: $color-five;

    a {
        text-decoration: none;
    }

    h1 {
        margin-bottom: 0;
    }

    h3 {
        color:#222222;
    }
    
    .col-md-4 {
        background-color: $color-four;
        padding: 0;
        border: 15px solid $color-five;
    }

    img {
        width: 100%;
        height: 350px;
        object-fit: cover;
        filter: grayscale(.8);
    }


}

// Footer

.footer {
    padding: 20px 0;

    .col-md-4:first-of-type {
        text-align: left;
    }

    i {
        font-size: 32px;
        line-height: 50px;
        padding: 0 10px;
    }
}

// Media queries


